<div class="container">
    <!-- menampilkan pesan notice -->
    <% if notice %>
        <p class="alert alert-warning" role="alert"><%= notice %></p>
    <% end %>

    <!-- menampilkan pesan alert -->
    <% if alert %>
        <p class="alert alert-danger mt-2" role="alert"><%= alert %></p>
    <% end %>

    <!-- menampilkan validasi error -->
    <% if @user.errors.any? %>
        <div class="alert alert-danger mt-2" role="alert">
            <h5>
                (<%= pluralize(@user.errors.count, "error") %>) Sorry, you can't register because:
            </h5>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <!-- menampilkan form register -->
    <h2>Register</h2>
    <div class="mx-auto">
        <%= form_with model: @user, url: register_post_path do |f| %>
            <div class="mb-3">
                <%= f.text_field :username, placeholder: 'Username', class: 'form-control', required: true %>
            </div>
            <div class="mb-3">
                <%= f.password_field :password, placeholder: 'Password', class: 'form-control', required: true %>
            </div>

            <div class="mt-3">
                <%= f.text_field :province, autocomplete: true, class: "form-control mb-2", placeholder: "Province", required: true%>
                <div id="dropdownProvince">
                    <select name="list" id="list_province" class= "form-select form-select-sm" hidden></select>
                </div> 
                <%= f.text_field :city, autocomplete: true, class:  "form-control mb-2", disabled: true, placeholder: "City", required: true %>
                <div id="dropdownCity">
                    <select name="list" id="list_city" class= "form-select form-select-sm" hidden></select>
                </div>

                <%= f.text_field :district, autocomplete: true, class:  "form-control mb-2", disabled: true, placeholder: "District", required: true %>
                <div id="dropdownDistrict">
                    <select name="list" id="list_district" class= "form-select form-select-sm" hidden=""></select>
                </div>
              </div>

              <div>
                <%= recaptcha_tags %> <!-- THIS -->
              </div>

            <%= submit_tag 'Register', class: "btn btn-primary" %> <br>
            <p>Sudah punya akun? <%= link_to 'login', form_login_path %></p>
        <% end %>
    </div>
</div>

<%= javascript_pack_tag 'id-region', 'data-turbolinks-track': 'reload' %>