<%= form_with(model: [ @post, @post.comments.build ], remote: true, local: false, id: 'form_comment') do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <ul class="alert alert-danger alert-dismissible" role="alert">
        <h6>
          <%= pluralize(@post.errors.count, "error") %> prohibited
          this post from being saved:
        </h6>
        <% @post.errors.full_messages.each do |msg| %>
          <li class="mx-4"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <input type="text" hidden="true" value="<%= session[:username] %>" name="comment[username]">
    <%= f.text_area :body, class: "form-control", placeholder: 'Your comments...' %>
  </div><br>
 
  <button class="btn btn-primary" id="comment_submit" type='<%= f.submit %>'>Comment</button>
<% end %>

<!-- %= javascript_pack_tag 'comment', 'data-turbolinks-track': 'reload' % -->