<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>address:</strong>
  <%= @user.district %>, <%= @user.city %>, <%= @user.province %>
</p>

<% if @user.id == session[:userdata]['id'] %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% else %>
  <a href="/chats">Chat</a> | 
<% end %>
<%= link_to 'Back', users_path %>
<p class="mt-3"><%= link_to "Logout", user_logout_path(session[:userdata]["id"]), method: :delete %></p>
