<% if session[:user_id] %>
  <div class="row py-2 w-auto mx-auto p-3">
    <h1 class="col-4"><a class="navbar-brand" href="/">Exceltask</a></h1>
    <div class="col-8">
      <div class="row">
        <%= form_with(url: '/posts', method: 'get', local: true, class: 'col-9') do %>
            <%= text_field_tag(:search, "", class: "form-control", placeholder: "Search") %>
        <% end %>
        <%= link_to "Logout", user_logout_path(session[:user_id]), class: 'col-3 nav-link', method: :delete %>
      </div>
    </div>
  </div>
  <nav class="sticky-top bg-white border-bottom">
    <ul class="nav justify-content-between">
      <% if session[:role] == "admin" %>
        <li class="nav-item">
          <a href="<%= new_posts_import_path %>" class="nav-link">&uarr; XLSX</a>
        </li>
      <% end %>
      <% if @posts %>
        <li class="nav-item">
          <a href="<%= posts_path(format: :xlsx, currpage: params[:page], type: "all") %>" class="nav-link">&darr; All</a>
        </li>
        <li class="nav-item">
          <a href="<%= posts_path(format: :xlsx, currpage: params[:page], type: "pageonly") %>" class="nav-link">&darr; Page</a>
        </li>
      <% end %>
      <li class="nav-item">
        <a href="/users/<%= session[:user_id]%>" class="nav-link">Profile</a>
      </li>
    </ul>
  </nav>
<% end %>