<h1>Advanced Search</h1>

<div class="my-3">
    <%= form_with model: @search do |f| %>
        <div class="mb-3">
            <%= f.label :title, class: 'form-label' %>
            <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="mb-3">
            <%= f.label 'Sort', class: 'form-label' %>
            <!-- %= f.select :body, [ 'ASC', 'DESC' ], prompt: 'Select One', :class => 'form-control' % -->

            <select class="form-select form-select-sm mb-2" aria-label=".form-select-sm example" name="search[body]" id="search_body">
                <option value="ASC">Ascending</option>
                <option value="DESC">Descending</option>
            </select>
        </div>

        <%= f.submit "Search", class: 'btn btn-primary', data: { disable_with: "Please Wait..." } %>
        <%= link_to 'Back', posts_path, class: "btn btn-secondary" %>
    <% end %>
</div>