<h1>Search Results</h1>
<p><%= link_to "Back", new_search_path %></p>

<% if @posts.empty? %>
    <p>No Post were found.</p>
<% else %>
    <div class="row mt-3">
    <%= form_with(url: '/posts', method: 'get', local: true, class: "col-sm-6") do %>
        <%= text_field_tag(:search, "", class: "form-control", placeholder: "Search") %>
    <% end %>
    <%= link_to "Advanced Search", new_search_path, class: "col-sm-6 d-flex align-items-center" %>
  </div>
    <hr />
      
    <div class="row">
        <% @posts.each do |post| %>
          <div class="col-sm-6">
            <div class="card my-2">
              <div class="card-body">
                <h4><%= link_to(post.title, post_path(post)) %></h4>
                <p><%= truncate(post.body, length: 200) %></p>
              </div>
            </div>
          </div>
        <% end %>
    </div>
    <hr />
    
    <%= paginate @posts, window: 4 %>
    <%= page_entries_info @posts %>
<% end %>