<div class="row">
  <div>
    <a href="<%= new_search_path %>">&larr; Back</a>
    <h6>Search Results</h6>
    <% if @posts.empty? %>
      <p>No Post were found.</p>
    <% else %>
      <%= render 'component/posts_toolbar' %>
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-sm-6">
            <div class="card my-2">
              <div class="card-body">
                <h4><%= link_to(post.title, post_path(post)) %></h4>
                <p><%= truncate(post.body, length: 200) %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <hr />
          
      <%= paginate @posts, window: 4 %>
      <%= page_entries_info @posts %>
    <% end %>
  </div>
</div>