<%= form_with model: @post, local: false, remote: true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", required: true %>
  </div><br>
 
  <div class="form-group">
    <%= f.label 'Content' %>
    <%= f.text_area :body, class: "form-control", required: true %>
  </div><br>
  <button class="btn btn-primary" type="submit" data-disable-with="Saving...">Proceed</button>
  <%= link_to 'Back', posts_path, class: "btn btn-secondary" %>
<% end %>