<%= form_with model: @post, local: true do |f| %>
   <% if @post.errors.any? %>
    <div id="error_explanation">
      <ul class="alert alert-danger alert-dismissible" role="alert">
        <h6>
          <%= pluralize(@post.errors.count, "error") %> prohibited
          this post from being saved:
        </h6>
        <% @post.errors.full_messages.each do |msg| %>
          <li class="mx-4"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div><br>
 
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div><br>
  <button class="btn btn-primary" type='<%= f.submit %>'>Create</button>
  <%= link_to 'Back', posts_path, class: "btn btn-secondary" %>
<% end %>