<div class="container">
  <h1>Exceltask</h1>
  <nav class="sticky-top bg-white">
      <%= link_to('Upload', new_posts_import_path) if @user.role == "admin" %> | 
      <%= link_to('Download All', posts_path(format: :xlsx, type: "all")) %> | 
      <%= link_to('Download this page only', posts_path(format: :xlsx, currpage: params[:page], type: "pageonly")) %> | 
      <%= link_to "Logout (#{@user.username})", user_logout_path(current_user), method: :delete %>
  </nav>
  <div class="row mt-3">
    <%= form_with(url: '/posts', method: 'get', local: true, class: "col-sm-6") do %>
        <%= text_field_tag(:search, "", class: "form-control", placeholder: "Search") %>
    <% end %>
    <%= link_to "Advanced Search", new_search_path, class: "col-sm-6 d-flex align-items-center" %>
  </div>
  <hr />

  <%= link_to 'Add Post', new_post_path, class: "btn btn-primary" %>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-sm-6">
        <div class="card my-2">
          <div class="card-body">
            <h4><%= link_to(post.title, post_path(post)) %></h4>
            <p><%= truncate(post.body, length: 200) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <hr />
  <%= paginate @posts, window: 4 %>
  <%= page_entries_info @posts %>
</div>